---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
const tags = [
  ...new Set(
    notes
      .map((item) => [...new Set(item.data.tags)].join(" "))
      .join(" ")
      .split(" "),
  ),
].sort((a, b) => {
  if (a > b) return 1;
  if (a < b) return -1;
  return 0;
});
---

<Layout
  title="Tags"
  description="Select spesific notes based on the list of tags below."
  url="https://ekel.dev/tags"
  ogImage="tags.png"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start  mx-auto",
      "md:text-start",
    ]}
  >
    <section class="w-full mt-8">
      <h1
        data-cy="heading"
        class="mb-4 mt-0 text-3xl sm:text-4xl md:text-5xl font-medium tracking-tighter text-foreground"
      >
        Tags
      </h1>
      <div class="slide-enter-content">
        <p
          data-cy="description"
          class="mb-0 text-lg sm:text-xl text-muted-foreground"
        >
          Select specific notes based on the list of tags below.
        </p>
      </div>
    </section>
    <section
      data-cy="tags-list"
      class="w-full slide-enter-content mt-10 sm:mt-16"
    >
      <div
        class="gap-3 sm:gap-4 flex w-full flex-wrap items-center justify-start"
      >
        {
          tags.map((item) => (
            <a
              href={`/tags/${item}`}
              class="text-sm font-medium text-muted-foreground hover:text-foreground transition-colors no-underline"
            >
              <span>#{item}</span>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
