---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
const tags = [
  ...new Set(
    notes
      .map((item) => [...new Set(item.data.tags)].join(" "))
      .join(" ")
      .split(" ")
  ),
].sort((a, b) => {
  if (a > b) return 1;
  if (a < b) return -1;
  return 0;
});
---

<Layout
  title="Tags"
  description="Select spesific notes based on the list of tags below."
  url="https://ekel.dev/tags"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">./tags</h1>
      <div class="slide-enter-content">
        <p data-cy="description" class="mb-0 text-justify">
          Select spesific notes based on the list of tags below.
        </p>
      </div>
    </section>
    <section data-cy="tags-list" class="w-full mt-8 slide-enter-content">
      <div class="gap-4 flex w-full flex-wrap items-center justify-start">
        {
          tags.map((item) => (
            <a href={`/tags/${item}`}>
              <button
                type="button"
                aria-label={item}
                class="bg-monochrome-2 px-4 py-1 cursor-pointer"
              >
                <p class="mb-0 mt-0 text-base-0">{item}</p>
              </button>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
