---
import { getCollection } from "astro:content";
import slugify from "slugify";
import Layout from "~layouts/Layout.astro";

const notesList = await getCollection("notes");
---

<Layout title="Notes">
  <div
    class:list={[
      "flex flex-col items-start justify-start w-full",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 class="mb-0">Notes</h1>
      <p id="description" class="text-justify mb-0">
        Sometimes, I write something. Mostly about technical stuff. So yeah, I
        call this as <b>Notes.</b>
      </p>
    </section>
    <section class="w-full mt-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 grid-rows-1 w-full gap-4">
        {
          notesList.map((item) => (
            <div
              class:list={[
                "p-4 w-full flex flex-col bg-white drop-shadow-sm",
                "flex-wrap border border-dashed border-base-0",
              ]}
            >
              <a
                href={`/notes/${slugify(item.data.title, { lower: true })}`}
                class:list={[
                  "cursor-pointer text-lg font-bold",
                  "!no-underline",
                ]}
              >
                <h3 class="mt-0 font-bold line-clamp-2 mb-0 text-2xl">
                  {item.data.title}
                </h3>
              </a>
              <p class="mt-2 mb-0">{item.data.description}</p>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
