<footer
  class="w-full flex flex-col min-[450px]:flex-row py-4 my-4 mb-2 min-[350px]:mb-0 justify-between items-center"
>
  <div class="m-0! p-0!">
    <p class="font-bold m-0! p-0!">©{new Date().getFullYear()} Haikel</p>
  </div>
  <div class="flex w-fit space-x-2 min-[450px]:mt-0! mt-4! items-center">
    <a href="https://uptime.ekel.dev" target="_blank" rel="noreferrer noopener"
      >Uptime</a
    ><span>/</span>
    <a href="/now" class="">Now</a><span>/</span>
    <a href="/uses" class="">Uses</a><span>/</span>
    <a href="/wakatime" class="">Wakatime</a>
  </div>
</footer>
