---
const yearNow = new Date().getFullYear();
---

<footer
  class="w-full flex flex-col min-[350px]:flex-row my-4 min-[350px]:mb-0 justify-between items-center"
>
  <div>
    <p class="font-bold text-sm">{yearNow} Haikel</p>
  </div>
  <div class="flex w-fit text-sm font-bold space-x-2 items-center">
    <a
      href="https://lrttckbs.ap-southeast-1.clawcloudrun.com/status/ekel"
      target="_blank"
      rel="noreferrer noopener">Uptime</a
    ><span>/</span>
    <a href="/uses">Uses</a><span>/</span>
    <a
      href="https://www.linkedin.com/in/haikel/"
      target="_blank"
      rel="noreferrer noopener">LinkedIn</a
    ><span>/</span>
    <a
      href="https://github.com/haikelz"
      target="_blank"
      rel="noreferrer noopener">Github</a
    >
  </div>
</footer>
