<footer
  class="w-full flex flex-col md:flex-row py-6 mt-20 border-t border-border/70 justify-between items-center gap-6"
>
  <div class="m-0! p-0!">
    <p class="font-medium text-muted-foreground m-0! p-0!">
      © {new Date().getFullYear()} Haikel
    </p>
  </div>
  <nav class="flex w-fit space-x-6 items-center" aria-label="Footer">
    <a
      href="https://uptime.ekel.dev"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Uptime (opens in new tab)"
      class="text-sm text-muted-foreground hover:text-foreground transition-colors"
      >Uptime</a
    >
    <a
      href="/now"
      class="text-sm text-muted-foreground hover:text-foreground transition-colors"
      >Now</a
    >
    <a
      href="/uses"
      class="text-sm text-muted-foreground hover:text-foreground transition-colors"
      >Uses</a
    >
    <a
      href="/wakatime"
      class="text-sm text-muted-foreground hover:text-foreground transition-colors"
      >Wakatime</a
    >
    <a
      href="/design-system"
      class="text-sm text-muted-foreground hover:text-foreground transition-colors"
      >Guideline</a
    >
  </nav>
</footer>
