<footer
  class="w-full flex flex-col min-[350px]:flex-row my-4 min-[350px]:mb-0 justify-between items-center"
>
  <div>
    <p class="font-bold">©{new Date().getFullYear()} Haikel</p>
  </div>
  <div class="flex w-fit space-x-2 items-center">
    <a href="https://uptime.ekel.dev" target="_blank" rel="noreferrer noopener"
      >Uptime</a
    ><span>/</span>
    <a href="/uses">Uses</a><span>/</span>
    <a href="/wakatime">Wakatime</a>
  </div>
</footer>
