---
import { buildHierarchy } from "@/utils/hierarchy";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;

const toc = buildHierarchy(headings);
---

<div
  class="left-4 rounded-md toc hidden xl:block z-50 fixed top-4 bg-monochrome-1 slide-enter-content"
>
  <span class="font-black text-base-0 text-xl">Table of Contents</span>
  <div class="!mt-3 !space-y-3">
    {toc.map((heading) => <TOCHeading heading={heading} />)}
  </div>
</div>
