---
import Layout from "~layouts/Layout.astro";

const title = "404 Not Found!";
const description = "The page that you navigate is not found!";
---

<Layout title={title} description={description} url="">
  <span data-cy="title" class="text-3xl font-bold">{title}</span>
  <p data-cy="description">{description}</p>
</Layout>
