---
import Layout from "~layouts/Layout.astro";

const obj = {
  title: "500 Internal Server Error!",
  description: "There are some error in the server side!"
};
---

<Layout title={obj.title} description={obj.description} url="">
  <span class="text-3xl font-bold">{obj.title}</span>
  <p>{obj.description}</p>
</Layout>
