---
import Layout from "~layouts/Layout.astro";

const title = "500 Internal Server Error!";
const description = "There are some error in the server side!";
---

<Layout title={title} description={description} url="">
  <span class="text-3xl font-bold">{title}</span>
  <p>{description}</p>
</Layout>
