---
import Layout from "~layouts/Layout.astro";

/*const response = await fetch(
  `${MODE === "development" ? PUBLIC_DEVELOPMENT_URL : PUBLIC_PRODUCTION_URL}/api/graphql`,
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json"
    },
    body: JSON.stringify({
      query: getGuestbookQuery
    })
  }
);

const data = await response.json();
const guestbook: GuestbookProps[] = data.data.getGuestbook.data;*/
---

<Layout
  title="Guestbook"
  description="Write a message for me and others."
  url="https://ekel.dev/guestbook"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start"
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">Guestbook</h1>
      <p data-cy="description" class="mb-0 text-justify">
        Write a message for me and others.
      </p>
    </section>
    <section
      data-cy="guestbook"
      class="mt-8 flex w-full flex-col items-start justify-start space-y-6"
    >
      {
        /*
        guestbook ? (
          guestbook
            .sort(
              (a, b) =>
                new Date(b.created_at).getTime() -
                new Date(a.created_at).getTime()
            )
            .map((item) => (
              <div>
                <h3 class="my-0">{item.message}</h3>
                <p class="mb-0 mt-2">
                  {item.username}. {format(item.created_at, "MMMM d, y")}
                </p>
              </div>
            ))
        ) : (
          <p class="font-bold">There is no message right now!</p>
        )
            */
      }
    </section>
  </div>
</Layout>
