---
import GuestbookSection from "~components/GuestbookSection";
import Layout from "~layouts/Layout.astro";
---

<Layout
  title="Guestbook"
  description="Write a message for me and others."
  url="https://ekel.dev/guestbook"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start"
    ]}
  >
    <section class="w-full">
      <h1 class="mb-0">Guestbook</h1>
      <p id="description" class="mb-0 text-justify">
        Write a message for me and others.
      </p>
    </section>
    <GuestbookSection client:only="react" />
  </div>
</Layout>
