---
import { format } from "date-fns";
import GuestbookForm from "~components/GuestbookForm";
import Layout from "~layouts/Layout.astro";
import {
  PUBLIC_DEVELOPMENT_URL,
  PUBLIC_PRODUCTION_URL
} from "~lib/utils/constants";
import type { GuestbookProps } from "~types";

export const prerender = false;

type ResponseGuestbookProps = {
  statusCode: number;
  message: string;
  data: GuestbookProps[];
};

const response = await fetch(
  `${import.meta.env.MODE === "development" ? PUBLIC_DEVELOPMENT_URL : PUBLIC_PRODUCTION_URL}/api/guestbook`,
  {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json"
    }
  }
);

const guestbook: ResponseGuestbookProps = await response.json();
---

<Layout
  title="Guestbook"
  description="Write a message for me and others."
  url="https://ekel.dev/guestbook"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start"
    ]}
  >
    <section class="w-full">
      <h1 class="mb-0">Guestbook</h1>
      <p id="description" class="mb-0 text-justify">
        Write a message for me and others.
      </p>
    </section>
    <GuestbookForm client:load />
    {
      guestbook.data ? (
        <section class="mt-8 flex w-full flex-col items-start justify-start space-y-6">
          {guestbook.data
            .sort(
              (a, b) =>
                new Date(b.created_at).getTime() -
                new Date(a.created_at).getTime()
            )
            .map((item) => (
              <div>
                <h3 class="my-0">{item.message}</h3>
                <p class="mb-0 mt-2">
                  {item.username}. {format(item.created_at, "MMMM d, y")}
                </p>
              </div>
            ))}
        </section>
      ) : (
        <p class="font-bold">There is no message right now!</p>
      )
    }
  </div>
</Layout>
