<div class="w-full flex justify-center items-center">
  <div class="container">
    <div class="grid grid-cols-2 gap-2 grid-rows-1">
      <img
        class="image border border-black"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
      <img
        class="image"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
    </div>
  </div>
</div>

<style>
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.8;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }

  img {
    animation: appear linear;
    animation-timeline: scroll();
    animation-range: entry 25% cover 50%;
  }
</style>
