.arabic-font {
  font-family: "Noto Naskh Arabic";
}

.modal-blur {
  backdrop-filter: blur(20px);
}

.photos {
  pointer-events: none;
  -webkit-touch-callout: none;
}

.list-type-disc {
  list-style-type: disc;
}

.list-position-outside {
  list-style-position: outside;
  padding-left: 1rem;
}
