---
import Layout from "@/layouts/Layout.astro";

const title = "404 Not Found!";
const description = "The page that you navigate is not found!";
---

<Layout title={title} description={description} url="" ogImage="404.png">
  <div
    class="flex flex-col items-center justify-center min-h-[50vh] text-center mx-auto px-4 slide-enter-content"
  >
    <h1
      data-cy="title"
      class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-tighter text-foreground mb-4"
    >
      {title}
    </h1>
    <p class="text-lg sm:text-xl text-muted-foreground">{description}</p>
  </div>
</Layout>
