---
import { api } from "@/configs/axios";
import Layout from "@/layouts/Layout.astro";
import type { GuestbookProps } from "@/types";
import { BACKEND_API_URL } from "@/utils/env";
import { format } from "date-fns";

export async function getGuestbook(): Promise<GuestbookProps[]> {
  try {
    const response = await api.get(`${BACKEND_API_URL}/api/v1/guestbook`);
    return response.data.data as GuestbookProps[];
  } catch (err) {
    throw new Error((err as Error).message);
  }
}

const guestbook = await getGuestbook();
---

<Layout
  title="Guestbook"
  description="Write a message for me and others."
  url="https://ekel.dev/guestbook"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">Guestbook</h1>
      <div class="slide-enter-content">
        <p data-cy="description" class="mb-0 text-justify">
          Write a message for me and others. Go to
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://guestbook.ekel.dev">guestbook.ekel.dev</a
          > to add your message.
        </p>
      </div>
    </section>
    <section
      data-cy="guestbook"
      class="flex w-full flex-col space-y-5 mt-8 items-start justify-start slide-enter-content"
    >
      {
        guestbook ? (
          guestbook
            .sort(
              (a, b) =>
                new Date(b.created_at).getTime() -
                new Date(a.created_at).getTime()
            )
            .map((item) => (
            <div class="group relative p-6 w-full rounded-xl bg-gradient-to-br from-neutral-900/80 via-neutral-900/60 to-neutral-900/80 border border-neutral-800/50 backdrop-blur-sm hover:border-neutral-700/70 hover:shadow-lg hover:shadow-neutral-900/50 transition-all duration-300">
              <div>
                <h3 class="mb-0 mt-0">{item.message}</h3>
                <p class="mb-0 mt-3">{item.username} - {format(item.created_at, "MMMM d, y")}</p>
              </div>
            </div>
            ))
        ) : (
          <p class="font-bold">There is no message right now!</p>
        )
      }
    </section>
  </div>
</Layout>
