---
import IHSGChart from "@/components/svelte/IHSGChart.svelte";
import Layout from "@/layouts/Layout.astro";
import { BACKEND_API_URL } from "@/utils/env";
---

<Layout
  title="Stock Market Index"
  description="Stock Market Index from some countries"
  url="https://ekel.dev/ihsg"
  ogImage="ihsg.png"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start mx-auto",
      "md:text-start",
    ]}
  >
    <section class="w-full mt-8 slide-enter-content">
      <h1
        class="mb-4 mt-0 text-3xl sm:text-4xl md:text-5xl font-bold tracking-tighter text-foreground"
      >
        Market Index
      </h1>
        <p class="mb-0 text-lg sm:text-xl text-muted-foreground">
          Stock Market Index from some countries.
        </p>
    </section>
    <section class="w-full slide-enter-content mt-10 sm:mt-16">
      <IHSGChart
        client:only="svelte"
        backendApiUrl={BACKEND_API_URL}
        defaultMarketCode="ID"
      />
    </section>
  </div>
</Layout>
