---
import IHSGChart from "@/components/svelte/IHSGChart.svelte";
import Layout from "@/layouts/Layout.astro";
import { BACKEND_API_URL } from "@/utils/env";
---

<Layout
  title="Stock Market Index"
  description="Stock Market Index from some countries"
  url="https://ekel.dev/ihsg"
  ogImage="ihsg.png"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 class="mb-0">./ihsg</h1>
      <div class="slide-enter-content">
        <p class="mb-0 text-justify">Stock Market Index from some countries.</p>
      </div>
    </section>
    <section class="w-full mt-8 slide-enter-content">
      <IHSGChart
        client:only="svelte"
        backendApiUrl={BACKEND_API_URL}
        defaultMarketCode="ID"
      />
    </section>
  </div>
</Layout>
