---
import PhotosPage from "@/components/svelte/PhotosPage.svelte";
import Layout from "@/layouts/Layout.astro";
import { getAllPhotos } from "@/utils/imagekit";

const images = await getAllPhotos();
const photos = images.map(({ url, thumbnailUrl }) => ({ url, thumbnailUrl }));
---

<Layout
  title="Photos"
  description="Photos"
  url="https://ekel.dev/photos"
  ogImage="photos.png"
  className="max-w-full!"
>
  <div class="flex w-full flex-col items-start justify-start md:text-start">
    <PhotosPage {photos} client:only="svelte" />
  </div>
</Layout>
