---
import PhotosPage from "@/components/svelte/PhotosPage.svelte";
import { readImages } from "@/helpers/read-images";
import Layout from "@/layouts/Layout.astro";
import "../index.css";

const currentPath = Astro.url.pathname;
const images = readImages("/public/images/photos", /\.webp$/);
---

<Layout
  title="Photos"
  description="Photos"
  url="https://ekel.dev/photos"
  ogImage="https://ekel.dev/og/photos.png"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <PhotosPage
      images={images.map(
        (image: { path: string; fileName: string }) => image.path
      )}
      client:only="svelte"
    />
  </div>
</Layout>
