---
import { readImages } from "@/helpers/read-images";
import Layout from "@/layouts/Layout.astro";
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import "@fontsource/ibm-plex-serif";
import "@fontsource/noto-naskh-arabic";
import { Masonry } from "astro-masonry";
import { Image } from "astro:assets";
import "../index.css";

const images = readImages("public/images/photos-compressed", /\.webp$/);
---

<Layout
  title="Photos"
  description="Some of my shots."
  url="https://ekel.dev/photos"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <Masonry
      breakpointCols={{
        default: 4,
        1023: 3,
        767: 2,
      }}
      class="flex gap-4 px-0 md:px-4"
      columnClass=""
    >
      {
        images.map((image) => (
          <Image
            width={1440}
            height={1080}
            quality={100}
            draggable={false}
            layout="constrained"
            format="avif"
            src={image.path}
            alt={image.fileName}
            class="photos mt-0! mb-4! rounded-md h-full! border-none! w-full! object-cover"
          />
        ))
      }
    </Masonry>
  </div>
</Layout>
