---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Uses"
  description="My current usage of stuffs."
  url="https://ekel.dev/uses"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">./uses</h1>
      <div class="slide-enter-content">
        <p data-cy="description" class="mb-0 text-justify">
          My current usage of stuffs.
        </p>
      </div>
    </section>
    <section class="w-full slide-enter-content">
      <h2>Productivity</h2>
      <Image
        width={500}
        height={500}
        position="center"
        quality={100}
        draggable={false}
        format="avif"
        src="/images/uses.png"
        alt="uses"
        class="photos my-0! rounded-none! border-none! object-cover"
      />
      <ul>
        <li>
          <p class="py-0!">
            <b>Visual Studio Code/Cursor</b>
            as my only go-to Text Editor with Vim Keybinding.
          </p>
        </li>
        <li>
          <p class="py-0!">
            <b>Lenovo Thinkbook 14 G2 ARE (Ryzen 4500U)</b>
            with <b>24GB of RAM</b> (8GB soldered + 16GB Kingston Fury Impact) and
            <b>1TB of Storage</b> (512GB Samsung NVME + 512GB Team Elite EX2 Elite
            SATA 2.5).
          </p>
        </li>
        <li>
          <p class="py-0!">
            <b> Logitech Pebble M350 (2022) </b>as my main mouse.
          </p>
        </li>
        <li>
          <p class="py-0!">
            <b>Royal Kludge RKG68</b> as my main mechanical keyboard.
          </p>
        </li>
        <li>
          <p class="py-0!">
            <b>Dualboot OS</b>
            (Fedora Linux + Windows 10 Home Edition).
            <b></b>
          </p>
        </li>
        <li>
          <p class="py-0!">
            <b><strike>Sony Xperia X Compact</strike></b>
            <b>Iphone SE 3 2022</b> as my main phone.
          </p>
        </li>
      </ul>
    </section>
    <section class="w-full slide-enter-content">
      <h2>Hobby-Related</h2>
      <Image
        width={500}
        height={500}
        quality={100}
        draggable={false}
        format="avif"
        src="/images/hobby-related.jpeg"
        alt="uses"
        class="photos my-0! rounded-none! w-full! border-none! object-cover"
      />
      <ul>
        <li>
          <p class="py-0!">
            <b> Sony A5000 + TTArtisan 56mm f/1.8. </b>
          </p>
        </li>
        <li>
          <p class="py-0!">
            <b> Music/Audio </b>
            Moondrop Chu2 + Xinhs 8 Core/Modular Pula Unicrom Cable + DAC Fiio JA11/Moondrop
            Dawn Pro + C to Lightning Akliam C5.
          </p>
        </li>
      </ul>
    </section>
  </div>
</Layout>
