---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Uses"
  description="My current usage of stuffs."
  url="https://ekel.dev/uses"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">./uses</h1>
      <div class="slide-enter-content">
        <p data-cy="description" class="mb-0 text-justify">
          My current usage of stuffs.
        </p>
      </div>
    </section>
    <section class="w-full slide-enter-content">
      <h2>Productivity</h2>
      <Image
        width={500}
        height={500}
        position="center"
        quality={100}
        draggable={false}
        format="avif"
        src="/images/uses.png"
        alt="uses"
        class="photos my-0! rounded-none! border-none! object-cover"
      />
      <ul>
        <li>
          <p>
            <b>Visual Studio Code</b>
            as my only go-to Text Editor with Vim Keybinding.
          </p>
        </li>
        <li>
          <p>
            <b>Lenovo Thinkbook 14 G2 ARE (Ryzen 4500U)</b>
            with <b>24GB of RAM</b> (8GB soldered + 16GB Kingston Fury Impact) and
            <b>1TB of Storage</b> (512GB Samsung NVME + 512GB Team Elite EX2 Elite
            SATA 2.5).
          </p>
        </li>
        <li><p><b> Logitech Pebble M350 (2022) </b>as my main mouse.</p></li>
        <li>
          <p><b>Royal Kludge RKG68</b> as my main mechanical keyboard.</p>
        </li>
        <li>
          <p>
            <b>Dualboot OS</b>
            (Fedora Linux + Windows 10 Home Edition).
            <b></b>
          </p>
        </li>
        <li><p><b>Vivo V25E</b> as my main phone.</p></li>
      </ul>
    </section>
    <section class="w-full slide-enter-content">
      <h2>Hobby-Related</h2>
      <Image
        width={500}
        height={500}
        quality={100}
        draggable={false}
        format="avif"
        src="/images/hobby-related.png"
        alt="uses"
        class="photos my-0! rounded-none! !w-full border-none! object-cover"
      />
      <ul>
        <li>
          <p>
            <b> Sony A5000 + TTArtisan 56mm f/1.8. </b>
          </p>
        </li>
        <li><p><b> Sony Xperia X Compact SO-02J. </b></p></li>
        <li>
          <p>
            <b> Music/Audio </b>
            Moondrop Chu2 + XINHS 8 Core Silver Plated Copper + DAC Fiio JA11.
          </p>
        </li>
      </ul>
    </section>
    <section class="w-full slide-enter-content">
      <h2>Mobility</h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 md:grid-rows-1 gap-4"
      >
        <Image
          width={500}
          height={500}
          quality={100}
          draggable={false}
          format="avif"
          src="/images/mobility.jpg"
          alt="uses"
          class="photos my-0! rounded-none! border-none! object-cover"
        />
        <div class="text-justify p-0! my-0!">
          <p>
            Other than photography, I have a hobby of riding, modifying, and do
            some improvement to my motorcycle. More spesific for underbone bike.
            I have a
            <b>
              <a
                href="https://id.wikipedia.org/wiki/Yamaha_Jupiter_MX"
                target="_blank"
                rel="noopener noreferrer"
              >
                Jupiter MX 135/LC 135</a
              >
            </b> as my daily motorcycle. Here are some improvement that I've done
            :
          </p>

          <ul>
            <li>
              <p>
                <b> Velg </b> BRT Chemco.
              </p>
            </li>
            <li>
              <p>
                <b> Mirror </b> Y125Z Hong Leong Malaysia.
              </p>
            </li>
            <li>
              <p>
                <b> Basket </b> LC 135 Hong Leong Malaysia.
              </p>
            </li>
            <li>
              <p>
                <b> Gearset </b> SSS 15 - 38.
              </p>
            </li>
            <li>
              <p>
                <b> Handgrip </b> Kawasaki Kaze + <b> Bar-end </b> Honda PCX.
              </p>
            </li>
            <li>
              <p>
                <b> Oil filter + carburetor filter </b> from Daytona.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</Layout>
