---
import WakatimeChart from "@/components/svelte/WakatimeChart.svelte";
import { api } from "@/configs/ky";
import Layout from "@/layouts/Layout.astro";
import type { WakatimeStatsProps } from "@/types";
import { BACKEND_API_URL } from "@/utils/env";

async function getWakatimeStats(): Promise<WakatimeStatsProps> {
  try {
    const response = await api
      .get(`${BACKEND_API_URL}/api/v1/wakatime/stats`)
      .json<{ data: WakatimeStatsProps }>();

    return response.data;
  } catch (err) {
    throw new Error((err as Error).message);
  }
}

const wakatimeStats = await getWakatimeStats();
---

<Layout
  title="Wakatime"
  description="Wakatime"
  url="https://ekel.dev/wakatime"
  ogImage="wakatime.png"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start  mx-auto",
      "md:text-start",
    ]}
  >
    <section class="w-full mb-10 sm:mb-16">
      <h1
        data-cy="heading"
        class="mb-4 mt-0 text-3xl sm:text-4xl md:text-5xl font-medium tracking-tighter text-foreground"
      >
        Wakatime
      </h1>
      <div class="slide-enter-content">
        <p
          data-cy="description"
          class="mb-0 text-lg sm:text-xl text-muted-foreground"
        >
          My coding activity and statistics.
        </p>
      </div>
    </section>
    <section class="w-full mt-10 sm:mt-16 slide-enter-content">
      <WakatimeChart client:only="svelte" data={wakatimeStats} />
    </section>
  </div>
</Layout>
