services:
  ekel-backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 4000:4000
    env_file:
      - .env
    restart: unless-stopped

networks:
  ekel-backend-network:
    driver: bridge
